body {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 100px;
	font-size: 50px;
}

.car {
	color: white;
}

h2 {
	background-color: black;
	color: #febe01;
	margin-left: 100px;
	margin-right: 100px;
	height: 150px;
	border-radius: 4px;
	padding: 30px;
	font-size: 33px;
	position: relative; /* Necessário para o pseudo-elemento */
	overflow: hidden; /* Impede que o ::before ultrapasse os limites */
  transition: transform 0.3s; /* Animação suave */
}

h2:hover {
  transform: translateX(20px); /* Move o h2 10px para a direita */
}

h2::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 5px; /* Largura da borda esquerda */
	transition: 0.3s; /* Animação suave */
}
h2:hover::before {
	background-color: #6b5000;
}

.carro {
	color: #b2b2b2;
}

.cores {
	color: #febe01;
}

p {
	font-size: 20px;
}

.comprac {
	color: #463400;
	font-size: 20px;
	background: #febe01;
	border-radius: 4px;
	padding: 10px;
	text-decoration: none;
}

.comprac:hover {
	background: #b27400;
	color: white;
}

.bolo {
	display: flex;
	gap: 20px;
	justify-content: center;
	max-width: 1000px;
	margin: 50px auto;
	list-style: none;
}
.boto {
	flex: 1;
	text-align: center;
	font-size: 20px;
	background: #febe01;
	border-radius: 4px;
	border: 2px solid #febe01;
}

.boto a {
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
  color: #463400;
}

.boto a:hover{
  color: white;
}

.boto:hover {
	border: 2px solid #ab8100;
	background: #e5ac00;
}


a {
	text-decoration: none;
}

.rodape {
	margin-top: 150px;
	justify-items: center;
	background: #f7f7f7f7;
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	position: relative;
}

@media (max-width: 700px) {
  .principal {
   background-color: #f7f7f7f7;
   font-size: 10px;
  }
  .principal1{
    background-color: #f7f7f7f7;
    font-size: 10px;
  }
  .car{
    color: black;
  }
  .comprac{
    color: black;
  }
  
  .bolo{
    flex-direction: column;
    align-itens:center;
    margin: 0 auto:
    padding: 0;
    
  }
  .boto{
   margin-right: auto;
   margin-left: auto;
  }
.carro{
font-size:10px;
 }
}
